#header {
    position: relative;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #222;
}

#header .language > a {
    display: inline-block;
    font-weight: bold;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #222;
    border-radius: 30px;
    margin: 0px 10px;
}

#header .language > a.current,
#header .language > a:hover {
    background: #222;
    color: #fff;
}

#main {
    position: relative;
    padding: 20px;
    min-height: 360px;
}

#main > div {
    position: relative;
}

#footer {
    position: relative;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #222;
}